body {
  color: black;
  font-size: 15px;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}

.no-padding{padding:0px;}

#topbar {
  background-color: #333333;
  height: 40px;
  padding: 10px 40px;
  color: #726A6A;
  font-size: 0.8em;
  /*margin: 0 0 0 -130px;*/
}

#topbarleft {
  float: left;
}

#topbarright {
  float: right;
}

#topbarright span {
  display: inline-block;
  padding: 0 0 0 10px;
}

#headertop {
  height: 100px;
}

#headerbtm {
  background-color: #FFC526;
  height: 40px;
}

#headerleft img {
  float: left;
  margin: 10px 0 0 0;
}

#headerright {
  float: right;
  color: black;
  text-align: center;
  padding: 20px 0 0 0;
}

#headerright div {
  display: inline-block;
  vertical-align: center;
  text-align: left;
  font-size: 0.8em;
  margin: auto 0;
}

#headerright img {
  margin: -20px 0 0 0;

}

#myCarousel {
}

#content {

  height: 600px;
  text-align: center;

}

#latestprojectphotos {
  height: 400px;
  background-color: black;
}

#seeallphotos {
  height: 100px;
  background-color: #333333;
  color: white;
}
